agent/__pycache__
log/*.log
log/*.json
out/*.json
.idea
.gradle
ui/node_modules
ui/src/history
ui/src/log/*.json
/log_5_6_8_10/
/log_5_8_10_12/
/log_5_9_10_11/
/log_5_10_12_14/
/out_5_6_8_10/
/out_5_8_10_12/
/out_5_9_10_11/
out/*/*.json
model/*.h5
.DS_Store

**/.ipynb_checkpoints/*
*.pyc
__pycache__

# Packages
*.egg
!/tests/**/*.egg
**/*.egg-info
**/dist/**
build
_build
.cache
*.so

.vscode/
/setup.cfg
MANIFEST.in
/setup.py

# trashbot
**/cache-directory/
**/dask-worker-space/*
**/video/
**/archive/
**/wandb/
*.onnx
*/tmp/*
# submission
*.zip
